.action-bar {
  position: fixed;
  bottom: -100%; /* Start position outside the screen */
  left: 16px;
  right: 16px;
  /* width: 80%; */
  padding: 16px 8px 32px 8px;
  background-color: magenta;
  transition: bottom 0.3s ease-in-out;
}

.action-bar.visible {
  bottom: 16px; /* Final position at the bottom with 16px gap */
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.action-button {
  height: 32px;
  flex-basis: 22.5%;
}
