.grid-container {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: 10px;
}

.sub-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-item {
  min-width: 16px;
  background-color: lightseagreen;
}

.grid-item.empty {
  background-color: gray;
}

.empty-container {
  background-color: gray;
}
