.tile {
  border: 1px solid black;
}

.tile.player-1 {
  background-color: tomato;
}

.tile.player-2 {
  background-color: dodgerblue;
}

.tile.tile-base {

}

.tile.tile-spawn {

}

.tile.tile-normal {
  background-color: antiquewhite;
}
